@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// mobile width
$mobile: 357px;

// Primary colors
$Plightcyan: hsl(193, 38%, 86%);
$Pneongreen: hsl(150, 100%, 66%);

// Secondary colors
$grayishBlue: hsl(217, 19%, 38%);
$darkgrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

// Font
$fontSize: 28px;
$fontFamily: 'Manrope', sans-serif;

